/* Default Theme
---------------------------------*/
:root {
  --black: #222222;
  --white: #FCFCFC;
  --info: #1474FC;
  --error: #DC3545;
  --warning: #FF7B07;
  --success: #28A745;
  --muted: #999999;
  --curved: 5px;
  --rounded: 12px;
  --pill: 10000px;
  --thin: 1px;
  --thick: 5px;
  --xs: 8px;
  --sm: 10px;
  --md: 12px;
  --lg: 14px;
  --xl: 16px;
  --xl2: 18px;
  --xl3: 20px;
  --xl4: 22px;
  --xl5: 24px;
}

.light {
  --bg-zero: #EFEFEF;
  --bg-first: #CFCFCF;
  --bg-second: #AFAFAF;
  --bg-third: #8F8F8F;
  --bg-fourth: #6F6F6F;
  --bg-inverse: #242424;
  --fg-zero: #000000;
  --fg-default: #242424;
  --fg-inverse: #CFCFCF;
  --fg-primary: #E49F1A;
  --fg-secondary: #DA532C;
}

.dark {
  --bg-zero: #121212;
  --bg-first: #222222;
  --bg-second: #323232;
  --bg-third: #424242;
  --bg-fourth: #525252;
  --bg-inverse: #DBDBDB;
  --fg-zero: #FFFFFF;
  --fg-default: #CFCFCF;
  --fg-inverse: #222222;
  --fg-primary: #E49F1A;
  --fg-secondary: #DA532C;
}

/* Generic
---------------------------------*/
.block {
  display: block;
}
.full {
  width: 100%;
}

/* Text Colors
---------------------------------*/
.ts-xs {
  font-size: var(--xs);
}
.tx-sm {
  font-size: var(--sm);
}
.tx-md {
  font-size: var(--md);
}
.tx-lg {
  font-size: var(--lg);
}
.tx-xl {
  font-size: var(--xl);
}
.tx-2xl {
  font-size: var(--xl2);
}
.tx-3xl {
  font-size: var(--xl3);
}
.tx-4xl {
  font-size: var(--xl4);
}
.tx-5xl {
  font-size: var(--xl5);
}

.tx-black {
  color: var(--black) !important;
}
.tx-white {
  color: var(--white) !important;
}
.tx-info {
  color: var(--info) !important;
}
.tx-error {
  color: var(--error) !important;
}
.tx-warning {
  color: var(--warning) !important;
}
.tx-success {
  color: var(--success) !important;
}
.tx-muted {
  color: var(--muted) !important;
}
.tx-primary {
  color: var(--fg-primary) !important;
}
.tx-secondary {
  color: var(--fg-secondary) !important;
}

/* Borders
---------------------------------*/
.curved {
  border-radius: var(--curved);
}
.rounded {
  border-radius: var(--rounded);
}
.pill {
  border-radius: var(--pill);
}

.solid {
  border-style: solid;
}
.dash {
  border-style: dashed;
}
.dotted {
  border-style: dotted;
}

.thin {
  border-width: var(--thin);
}
.thick {
  border-width: var(--thick);
}

.bd-black {
  border-color: var(--black) !important;
}
.bd-white {
  border-color: var(--white) !important;
}
.bd-info {
  border-color: var(--info) !important;
}
.bd-error {
  border-color: var(--error) !important;
}
.bd-warning {
  border-color: var(--warning) !important;
}
.bd-success {
  border-color: var(--success) !important;
}
.bd-muted {
  border-color: var(--muted) !important;
}
.bd-primary {
  border-color: var(--fg-primary) !important;
}
.bd-secondary {
  border-color: var(--fg-secondary) !important;
}

/* Backgrounds
---------------------------------*/
.bg-black {
  background-color: var(--black) !important;
}
.bg-white {
  background-color: var(--white) !important;
}
.bg-info {
  background-color: var(--info) !important;
}
.bg-error {
  background-color: var(--error) !important;
}
.bg-warning {
  background-color: var(--warning) !important;
}
.bg-success {
  background-color: var(--success) !important;
}
.bg-muted {
  background-color: var(--muted) !important;
}
.bg-primary {
  background-color: var(--fg-primary) !important;
}
.bg-secondary {
  background-color: var(--fg-secondary) !important;
}

/* Reset
---------------------------------*/
html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a, a:link a:hover, a:active, a:visited {
  color: var(--fg-primary);
  text-decoration: none;
}

/* Panel
---------------------------------*/
.panel {
  background-color: var(--bg-zero);
  color: var(--fg-default);
  height: 100%;
  position: relative;
  width: 100%;
}

.panel .panel-head {
  left: 0;
  height: 60px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: 1s;
}

.with-left .panel-head {
  left: 226px;
}

.panel .panel-foot {
  bottom: 0;
  left: 0;
  height: 60px;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: 1s;
}

.panel .panel-left {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: 1s;
  width: 226px;
}

.panel .panel-right {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: 1s;
  width: 226px;
}

.panel .panel-main {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: 1s;
}

.panel .panel-main main {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}

.with-head .panel-main {
  top: 60px;
}

.with-foot .panel-main {
  bottom: 60px;
}

.with-left .panel-main {
  left: 226px;
}

.with-right .panel-main {
  right: 226px;
}

@media (max-width: 767px) {
  .panel .panel-left {
    left: -226px;
  }
  .panel-left-open .panel-left {
    left: 0;
  }
  .with-left .panel-head,
  .with-left .panel-main {
    left: 0;
  }
  .panel-left-open .panel-head,
  .panel-left-open .panel-main {
    left: 226px;
  }
}

/* Table
---------------------------------*/
.tbl-container {
  position: relative;
}
.tbl {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

.tbl-scroll {
  overflow: auto;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.tbl-nowrap {
  white-space: nowrap;
}

.tbl-z0 {
  z-index: 0;
}
.tbl-z1 {
  z-index: 1;
}
.tbl-z2 {
  z-index: 2;
}
.tbl-z3 {
  z-index: 3;
}
.tbl-z4 {
  z-index: 4;
}

.tbl-sticky {
  position: sticky;
}
.tbl-sticky-b {
  bottom: 0;
}
.tbl-sticky-l {
  left: 0;
}
.tbl-sticky-t {
  top: 0;
}
.tbl-sticky-r {
  right: 0;
}

.tbl-col {
  border-color: black;
  border-style: solid;
  border-top-width: 1px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

.tbl-foot {
  border-color: black;
  border-style: solid;
  border-top-width: 1px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

.tbl-row {
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

.tbl-head {
  border-color: black;
  border-style: solid;
  border-top-width: 1px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

/* Head
---------------------------------*/
.head {
  align-items: center;
  background-color: var(--bg-first);
  display: flex;
  padding: 0 20px;
}
.head .menu {
  cursor: pointer;
  display: none;
  padding: 10px 10px 10px 0;
}
.head img {
  height: 26px;
  margin-right: 10px;
}
.head h3 {
  flex-grow: 1;
  text-transform: uppercase;
}
.with-left .head img {
  display: none;
}
.with-left .head h3 {
  opacity: 0;
}
.head nav {
  align-items: center;
  display: flex;
}
.head .github {
  color: #EFEFEF;
  font-size: 27px;
  margin-left: 10px;
}
.head .npm {
  background-color: #CB3837;
  border-radius: 20px;
  color: #EFEFEF;
  font-size: 16px;
  margin-left: 5px;
  padding: 5px;
  text-align: center;
}
.head .discord {
  background-color: #7289DA;
  border-radius: 20px;
  color: #EFEFEF;
  font-size: 16px;
  margin-left: 5px;
  padding: 5px;
  text-align: center;
}

@media (max-width: 767px) {
  .with-left .head .menu {
    display: block;
  }
}

/* Left
---------------------------------*/
.left {
  display: flex;
  flex-direction: column;
}
.left header {
  align-items: center;
  background-color: var(--bg-second);
  display: flex;
  padding: 17px 5px 17px 10px;
}
.left header img {
  height: 26px;
  margin-right: 10px;
}
.left header h3 {
  flex-grow: 1;
  margin: 0;
  text-transform: uppercase;
}
.left header .toggle {
  cursor: pointer;
  display: none;
}

.left nav {
  flex-grow: 1;
  background-color: #151515;
  overflow: auto;
  padding-bottom: 100px;
}

.left nav h6 {
  border-top: 1px solid #121212;
  color: #999999;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 20px 0 10px 10px;
  text-transform: uppercase;
}

.left nav h6:first-child {
  border-top: none;
  margin-top: 0;
}

.left nav a {
  color: #EFEFEF;
  display: block;
  padding: 10px 0 10px 10px;
}

@media (max-width: 767px) {
  .left header .toggle {
    display: block;
  }
}

/* Docs
---------------------------------*/
.docs {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: auto;
}
.docs.container {
  height: calc(100% - 20px);
  padding: 10px 20px;
}
.docs h2, 
.docs h3, 
.docs h4, 
.docs h5, 
.docs h6 {
  margin: 0;
  padding: 0;
}
.docs p {
  margin: 0 0 20px;
  padding: 0;
}
.docs h1 {
  color: var(--fg-primary);
  margin: 20px 0;
  text-transform: uppercase; 
}
.docs h2 { 
  color: var(--fg-primary);
  text-transform: uppercase; 
}
.docs a, 
.docs a:link, 
.docs a:hover, 
.docs a:active, 
.docs a:visited {
  color: var(--fg-primary);
  text-decoration: none;
}
.docs p, .docs li {
  line-height: 36px;
}
.docs tui-alert {
  display: block;
  margin-bottom: 20px;
}
.docs .tbl-container {
  margin-bottom: 20px;
}
.docs .tbl th {
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
}
.docs .tbl td {
  border-color: var(--muted);
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px;
}
.docs .fab, .docs .fas, .docs .fa {
  line-height: 16px;
}

.docs .pager {
  align-items: center;
  display: flex;
  padding: 20px 0 40px;
}

.docs .pager a {
  display: block;
  width: 100%;
}

.docs .pager .next {
  text-align: right;
}

/* Tabs
---------------------------------*/
.tabs {
  border-bottom: 1px solid #333333;
  padding: 5px 0 0 5px;
}

.tabs tui-tab {
  position: relative;
  top: 1px;
}

tui-tab.shift-1 {
  padding-left: 15px;
}

tui-tab a {
  color: var(--muted) !important;
  cursor: pointer;
  display: inline-block;
}

tui-tab.active a {
  color: var(--white) !important;
}

tui-tab.tab a {
  background-color: #222222;
  padding: 10px;
  border: 1px solid #222222;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
tui-tab.tab.active a {
  background-color: #121212;
}

tui-tab.block a {
  background-color: #121212;
  font-size: 14px;
  padding: 5px;
}
tui-tab.block.active a {
  background-color: #121212;
}

/* Window App
---------------------------------*/
ide-app {
  display: block;
}

ide-app .window {
  background-color: #212121;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  overflow: hidden;
}

ide-app .window .head {
  align-items: center;
  background: #1A1A1A;
  border-bottom: 1px solid #29252A;
  color: #999999;
  gap: 10px;
  padding: 10px;
  font-size: 16px;
  display: flex;
  position: relative;
}

ide-app .window .head .dot {
  background-color: #999999;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

ide-app .window .head .title {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

ide-app .window .body {
  background-color: #101113;
  color: #ABB2BF;
  margin: 0;
  padding: 0;
  position: relative;
}

ide-app .split-view {
  background-color: #000000;
  display: flex;
  overflow: auto;
}
ide-app .split-view ide-code {
  flex-basis: 50%;
  height: 100%;
}
ide-app .split-view ide-preview {
  background-color: #EFEFEF;
  flex-basis: 50%;
}
ide-app .folder {
  display: block;
  padding: 5px;
}
ide-app .div {
  border-left: 1px solid #333333;
  margin-left: 5px;
  padding-left: 5px;
}

ide-app .body .panel-left {
  border-right: 1px solid #333333;
  width: 125px;
}

ide-app .body .panel-head {
  left: 125px;
  height: 45px;
  z-index: 1;
}

ide-app .body .panel-main {
  background-color: #000000;
  left: 125px;
  top: 45px;
}

@media (max-width: 767px) {
  ide-app .split-view {
    display: block;
  }
  ide-app .split-view ide-code {
    padding-bottom: 10px;
  }
  ide-app .body .panel-head,
  ide-app .body .panel-main {
    left: 0;
  }
  ide-app .body .panel-left {
    left: -125px;
  }
}