.temple-field-switch {
  position: relative;
  margin: 0;
}

.temple-field-switch-label {
  display: inline-block;
  font-weight: normal;
  line-height: 20px;
  margin: 0 4px;
  min-height: 24px;
  min-width: 18px;
  position: relative;
  z-index: 11;
}

.temple-field-switch-label::before {
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .2);
  -webkit-transition: text-indent .4s ease;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .2);
  color: #999999;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  margin-right: 8px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  text-indent: -19px;
  top: 5px;
  transition: text-indent .4s ease;
  width: 52px;
}

.temple-field-switch-label::after {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
  -webkit-transition: left .4s ease;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: lighter;
  left: -3px;
  line-height: 20px;
  height: 22px;
  padding: 0;
  position: absolute;
  text-align: center;
  text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.15);
  top: 4px;
  transition: left .4s ease;
  width: 22px;
}

.temple-field-switch-onoff .temple-field-switch-label::before {
  content: "ON\a0\a0\a0\a0\a0\a0\a0\a0OFF";
  font-size: 11px;
}

.temple-field-switch-yesno .temple-field-switch-label::before {
  content: "YES\a0\a0\a0\a0\a0\a0\a0\a0\a0NO";
  font-size: 10px;
}

.temple-field-switch-checkex .temple-field-switch-label::before {
  content: "\a0\2713\a0\a0\a0\a0\a0\a0\a0\a0\a0\2716";
  font-size: 13px;
}

.temple-field-switch-sunmoon .temple-field-switch-label::before {
  content: "\263C\a0\a0\a0\a0\a0\a0\263D";
  font-size: 18px;
}

.temple-field-switch-rounded .temple-field-switch-label::before {
  border-radius: 12px;
}
  
.temple-field-switch-rounded .temple-field-switch-label::after {
  border-radius: 100%;
}

.temple-field-switch-ridge .temple-field-switch-label::after {
  content: '|||';
}

.temple-field-switch-smooth .temple-field-switch-label::after {
  content: ' ';
}

.temple-field-switch-control {
  cursor: pointer;
  height: 25px;
  opacity: 0;
  position: absolute;
  width: 55px;
  z-index: 12;
}

.temple-field-switch-control:checked + .temple-field-switch-label::before {
  text-indent: 9px;
}

.temple-field-switch-control:checked + .temple-field-switch-label::after {
  left: 34px;
}

.temple-field-switch-default .temple-field-switch-label::before {
  background-color: #F5F5F5;
  border-color: #CCCCCC;
  color: #999999;
}

.temple-field-switch-default .temple-field-switch-label::after {
  background-color: #FFFFFF;
  color: #D5D5D5;
}

.temple-field-switch-default .temple-field-switch-control:checked + .temple-field-switch-label::before {
  background-color: #8AB2C9;
  border-color: #468FCC;
  color: #FFFFFF;
}

.temple-field-switch-default .temple-field-switch-control:checked + .temple-field-switch-label::after {
  background-color: #FFFFFF;
  color: #8AB2C9;
}

.temple-field-switch-green .temple-field-switch-label::before {
  background-color: #DC3545;
  border-color: #DC3545;
  color: #FFFFFF;
}

.temple-field-switch-green .temple-field-switch-label::after {
  background-color: #F9F9F9;
  color: #DC3545;
}

.temple-field-switch-green .temple-field-switch-control:checked + .temple-field-switch-label::before {
  background-color: #28A745;
  border-color: #28A745;
  color: #FFFFFF;
}

.temple-field-switch-green .temple-field-switch-control:checked + .temple-field-switch-label::after {
  background-color: #F9F9F9;
  color: #28A745;
}

.temple-field-switch-orange .temple-field-switch-label::before {
  background-color: #888888;
  border-color: #CCCCCC;
  color: #DDDDDD;
}

.temple-field-switch-orange .temple-field-switch-label::after {
  background-color: #FFFFFF;
  color: #D5D5D5;
}

.temple-field-switch-orange .temple-field-switch-control:checked + .temple-field-switch-label::before {
  background-color: #FF893C;
  border-color: #FF893C;
  color: #FFFFFF;
}

.temple-field-switch-orange .temple-field-switch-control:checked + .temple-field-switch-label::after {
  background-color: #FFFFFF;
  color: #FF893C;
}

.temple-field-switch-blue .temple-field-switch-label::before {
  background-color: #8B9AA3;
  border-color: #8B9AA3;
  color: #FFFFFF;
}

.temple-field-switch-blue .temple-field-switch-label::after {
  background-color: #FFFFFF;
  color: #D5D5D5;
}

.temple-field-switch-blue .temple-field-switch-control:checked + .temple-field-switch-label::before {
  background-color: #468FCC;
  border-color: #468FCC;
  color: #FFFFFF;
}

.temple-field-switch-blue .temple-field-switch-control:checked + .temple-field-switch-label::after {
  background-color: #F9F9F9;
  color: #468FCC;
}