.tui-field-select {
  position: relative;
}

.tui-field-select-control {
  align-items: center;
  background-color: white;
  border-color: var(--black);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--black);
  display: flex;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  white-space: nowrap;
  width: 100%;
}

.tui-field-select-placeholder {
  color: #666666;
}

.tui-field-select-dropdown {
  background-color: var(--white);
  border-color: var(--black);
  border-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 0;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}

.tui-field-select-search {
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  position: relative;
}

.tui-field-select-search-control {
  padding-right: 32px;
}

.tui-field-select-search-icon {
  background-color: var(--white);
  color: var(--black);
  padding: 4px;
  position: absolute;
  right: 9px;
  top: 9px;
}

.tui-field-select-options {
  max-height: 256px;
  overflow: auto;
}

.tui-field-select-option {
  align-items: center;
  border-color: #AAAAAA;
  border-style: solid;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 1px;
  cursor: pointer;
  display: flex;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
}

.tui-field-select-label { 
  display: inline-block; 
  margin-left: 4px; 
}