.temple-modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: none;
  left: 0;
  justify-content: center;
  max-height: 100vh;
  overflow: auto;
  right: 0;
  top: 0;
  z-index: 10000 ;
}

.temple-modal-fixed {
  position: fixed;
}

.temple-modal-absolute {
  position: absolute;
}

.temple-modal-overlay {
  overflow: hidden;
  max-width: 32rem;
  margin: auto;
  position: relative;
}

.temple-modal-head {
  align-items: center;
  display: flex;
  padding: 10px;
}

.temple-modal-title {
  flex-grow: 1;
  font-weight: bold;
}