.btn {
  text-align: center;
  border: 0;
}
.btn-xs {
  padding: 2px 4px;
}
.btn-sm {
  padding: 4px 8px;
}
.btn-md {
  padding: 6px 12px;
}
.btn-lg {
  padding: 8px 16px;
}
.btn-xl {
  padding: 10px 20px;
}
.btn-2xl {
  padding: 12px 24px;
}
.btn-3xl {
  padding: 14px 28px;
}
.btn-4xl {
  padding: 16px 32px;
}
.btn-5xl {
  padding: 18px 36px;
}